@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --container-8xl: 90rem;
}

@font-face {
    font-family: 'Kosmos';
    src: url('@/assets/fonts/Kosmos.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url('@/assets/fonts/consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: clamp(12px, 1vw + 1vh, 14px);
}

:root {
    --ui-primary: #c7beb6;
    --ui-container: var(--container-xl);
    font-family: 'Consolas', sans-serif;
}

button {
    cursor: pointer;
}
